{% extends 'base.html.twig' %}

{% block title %}Hello HelloController!
{% endblock %}
{% block stylesheets %}
    {{ encore_entry_link_tags('app') }}
{% endblock %}


{% block body %}
    <div class="container" id="js-app">
        <div class="row">
            <div class="col">
                <div>{* message *}
                </div>
                <h2>{* title *}</h2>
                <button class="btn btn-primary" v-on:click="changeText">Say Hi</button>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}
